* {
  box-sizing: boarder-box;
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
}

.user-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.comp-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.row {
  display: flex;
}

.cell {
  margin: 1px;
  border: 1px solid rgb(17, 17, 109);
  box-shadow: 1px 1px 1px rgba(12, 21, 110, 0.25);
  border-radius: 0.2em;
  height: 3vw;
  width: 3vw;
}

.user-cell {
  margin: 1px;
  border-radius: 0.2em;
  background-color: rgb(134, 134, 134);
  height: 3vw;
  width: 3vw;
}

.ship {
  background-color: red;
}

.computer:hover {
  background-color: rgb(145, 145, 145);
}

.miss {
  background-color: rgb(20, 38, 198);
}

.hit {
  background-color: red;
}

.boards {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  gap: 2em;
  margin-top: 2rem;
}

.user-board-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comp-board-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.overlay {
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(0.1em);
}

.user-ships {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
}

.user-ship {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
}
.user-ship > .user-cell {
  margin: 0.2rem;
}

.user-ship:hover .user-cell {
  background-color: black;
}
.ships-wrapper {
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: center;
  gap: 3.5rem;
  align-items: center;
}

.rotate-button {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.4em;
    border: 1px solid grey;
s

  /* border: 1px; solid gray; */
}
.rotate-button:hover {
  background-color: rgb(175, 200, 187);
}

.drag-hover {
  background-color: green;
}

.placed-ship {
  background-color: rgb(124, 124, 124);
}

.rotated {
  flex-direction: row;
}
.container-rotated {
  flex-direction: column;
}

.message {
  display: none;
}

.overlay {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-game {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
}

.header {
  margin: 1rem;
}